label, .fis-fieldset .label-legend   {
    color: $form-label-color;
    font-size: rem-calc(12px);
    font-weight: 400;
    margin-bottom: 0;
    background: inherit;
    &.is-invalid-label {
        color: $form-label-color-invalid;
    }
    > .button.btn-icon  {
        height: rem-calc(14px);
        margin: 0 0 0 0.25rem;
        padding: 0;
        position: relative;
        width: rem-calc(14px);
        top:-1px;

    }
    .label-text {
        min-height: rem-calc(14);
        display: inline-block;
        min-width: 1px;
        white-space: nowrap;
        margin-bottom: 0px;
    }
}