.pick-flow {
    position: relative;
    .row {
        margin-right: rem-calc(22px);
    }
    .button.btn-icon {
        position: absolute;
        height: 100%;
        padding-top: 0;
        top: rem-calc(2);
        right: rem-calc(-2px);
        margin: 0;
        width: auto;
    }
}