.react-autosuggest__container {
    position: relative;
    &.react-autosuggest__container--open  {
        .react-autosuggest__input {
            box-shadow: none;
            //border-bottom: 0;
            background-image: url("../assets/svg/raw/arrow-up.svg");
        }
    }
    .react-autosuggest__input {
        background-image: url("../assets/svg/raw/arrow-down.svg");
        background-repeat:no-repeat;
        background-position: right 5px center;
    }
    .react-autosuggest__suggestions-container {
        background-color: $input-background;
        border: $dropdown-border;
        border-top: 0;
        list-style: none;
        margin: -1px 0 0 0;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: $dropdown-zindex;
        li {
            font-size: $input-font-size;
            padding: 3px;
            padding-left: $form-spacing;
            padding-right: $form-spacing;
        }

    }
    .react-autosuggest__suggestion {
        cursor: pointer;
        padding: 10px 20px;
    }

    .react-autosuggest__suggestion--focused {
        background-color: get-fis-colors(addon-1, base);;
    }
}


