
@mixin form-element {
    $height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));

    display: block;
    box-sizing: border-box;
    height: $height;
    padding: $form-spacing / 2 map_get($grid-column-responsive-gutter, medium) / 2;
    border: $input-border;
    margin: 0 0 $form-spacing;
    width: 100%;
    font-family: $input-font-family;
    font-size: $input-font-size;
    color: $input-color;
    background-color: $input-background;
    box-shadow: $input-shadow;
    border-radius: $input-radius;

    @if has-value($input-transition) {
        transition: $input-transition;
    }

    // Focus state
    &:focus {
        border: $input-border-focus;
        background-color: $input-background-focus;
        outline: none;
        box-shadow: $input-shadow-focus;

        @if has-value($input-transition) {
            transition: $input-transition;
        }
    }

}

@mixin fis-form-text {
    // Text inputs
    #{text-inputs()},
    textarea {
        @include form-element;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    // Text areas
    textarea {
        max-width: 100%;

        &[rows] {
            height: auto;
        }
    }

    // Disabled/readonly state
    input,
    textarea {
        &:disabled,
        &[readonly] {
            background-color: $input-background-disabled;
            cursor: $input-cursor-disabled;
            color: $input-color-disabled;
        }
    }

    // Reset styles on button-like inputs
    [type='submit'],
    [type='button'] {
        border-radius: $button-radius;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    // Reset Normalize setting content-box to search elements
    // scss-lint:disable QualifyingElement
    input[type='search'] {
        box-sizing: border-box !important;
    }

    // Number input styles
    [type='number'], [type='time'] {

        -moz-appearance: textfield;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button,
    input[type=time]::-webkit-inner-spin-button,
    input[type=time]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}


/// Generates base styles for a label.
@mixin label {
    display: inline-block;
    padding: $label-padding;
    font-size: $label-font-size;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    border-radius: $label-radius;
}

/// Styles the background and border of an input field to have an error state.
///
/// @param {Color} $background [$alert-color] - Color to use for the background and border.
@mixin form-input-error(
    $background: $input-background-invalid
) {

        background-color: rgba($background, 0.1);
        border-color: $background;

}

/// Adds error styles to a form element, using the values in the settings file.
@mixin form-error {
    display: none;
    margin-top: $form-spacing * -0.5;
    margin-bottom: $form-spacing;
    font-size: $input-error-font-size;
    font-weight: $input-error-font-weight;
    color: $input-error-color;
}

@mixin fis-form-error {
    @if $abide-inputs {
        // Error class for invalid inputs
        .is-invalid-input {
            @include form-input-error;
        }
    }


    // Form error element
    .form-error {
        @include form-error;

        &.is-visible {
            display: block;
        }
    }
}


/// Adds disabled styles to a button by fading the element, reseting the cursor, and disabling pointer events.
@mixin button-disabled {
    opacity: $button-opacity-disabled;
    cursor: not-allowed;
    pointer-events: none;
}


// TODO: Document button-base() mixin
@mixin button-base {
    @include disable-mouse-outline;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 0.1s ease-out, all 0.1s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: $button-radius;
    padding: $button-padding;
    margin: $button-margin;
    font-size: map-get($button-sizes, default);
}