.fis-fieldset {
    border: 0;
    margin: 0;
    &:not(.radio-checkbox-wrap){
        background-color: get-fis-colors(grayscale-1, base);
        border-right: 2px solid $white;
        border-bottom: 2px solid $white;
        $gutter: rem-calc(map_get($grid-column-responsive-gutter, medium)) / 2 ;
        padding: rem-calc(6) $gutter *1.5 $gutter*2;
        margin-left: -$gutter;
        margin-right: -$gutter;
        flex: 1 0 100%;
        .fis-fieldset {
            border: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    legend {
        font-size: rem-calc(14);
        font-weight: 700;
        background: get-fis-colors(grayscale-1, base);
        padding: 0;
        margin: 0;
        margin-bottom: rem-calc(1);
        width: 100%;
        > .button.btn-icon {
            padding: 0;
            margin: 0 0 0 rem-calc(5px);
        }
    }
}