@import "../../../fis-ui-components/components/index";
h1,
h2,
h3 {
    > span {
        &.info {
            color: $dark-gray;
            font-size: rem-calc(14px);
            margin-left: 0.5rem;
        }
    }
}

html,
body {
    height: 100%;
    &.sg-pattern-list {
        height: auto;
        .fis-appheader {
            position: absolute;
        }
    }
}

.demo-container {
    height: 100%;
    margin: 10px 20px;
    position: relative;
}
.fis-app-pattern {
    height: 100%;
}

.demo-box {
    float: left;
    margin-top: 20px;
    width: 100%;
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

.color-box {
    border-radius: 3px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), inset 0 -8px rgba(0, 0, 0, 0.4);
    color: $white;
    float: left;
    height: 96px;
    margin-bottom: 48px;
    margin-right: 20px;
    padding: 5px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 1px $dark-gray;
    width: 96px;
}

.demo-col {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.colored-col {
    background-color: get-fis-colors(grayscale-2, base);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.demo-btn {
    .button {
        margin-left: 12%;
        width: 75%;
        &.btn-icon {
            width: auto;
        }
    }
}


.margin-t-0 {
    margin-top: 0 !important;
}
