.fis-clientheader {
    background-color: $white;
    height: $header-height;
    border-top: 5px solid $primary-color;
    border-bottom: 1px solid get-fis-colors(grayscale-3, base);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: $orbit-control-zindex;

    .fis-logo {
        margin: 17px 10px 0 10px;
        flex: 0 0 65px;
        min-width: 65px;
    }
    .react-autosuggest__container {
        flex: 1 0 150px;
        min-width: 150px;
        margin-top: 15px;
        .react-autosuggest__input {
            background-image: url("../assets/svg/raw/search.svg");
            background-size: 18px 18px;
        }

    }
    .icon-list {
        list-style: none;
        display: flex;
        margin: 13px 0 0 0;
        > li {
            flex: 0 0 auto;
            margin: 0;
        }
    }
    .devider {
        height: 100%;
        width: 1px;
        border-left: 1px solid get-fis-colors(grayscale-3, base);
        margin: 0 rem-calc(12px);
    }
    .app-navigation {
        flex: 0 0 100px;
        min-width: 100px;
    }
    .open-app-navigation {
        flex: 4 1 300px;
        min-width: 300px;
        position: relative;
        top: 13px;
        overflow: hidden;
        border: none;
        .tabs-tablist {
            display: flex;
        }
        &.fis-tabpanel {
            .tabs-tablistItem {
                flex: 0 1 75px;
                min-width: 75px;
                position: relative;
                &:hover {
                    .close {
                        opacity: 1;
                    }
                }
                &.has-modal {
                    flex: 1 1 rem-calc(75);
                    min-width: rem-calc(75);
                }
                &.is-active {
                    flex: 2 1 rem-calc(95);
                    min-width: rem-calc(95);
                    max-width: rem-calc(300);
                }
                &.homeBtn {
                    flex: 0 0 rem-calc(52);
                    min-width: rem-calc(52);
                    .tabs-tabInner {
                        padding: 0 rem-calc(6px);
                    }
                    .button{
                        padding: 0;
                    }
                }
                .fis-icon-glyphicons-home {
                    width: rem-calc(32);
                    height: rem-calc(32);
                }
                a {
                    color: $body-font-color;
                }

                .close {
                    position: absolute;
                    right: rem-calc(4px);
                    top: rem-calc(10px);
                    color: get-fis-colors(grayscale-4, base);
                    opacity: 0;
                    transition: opacity 0.25s ease-in-out;
                    font-weight: 700;
                    font-size: rem-calc(18);
                    text-align: center;
                    border: 1px solid get-fis-colors(grayscale-4, base);
                    width: 16px;
                    height: 16px;
                    line-height: 6px;
                    padding: 0px 0 0 1px;
                    span {
                        position: relative;
                        top: -2px;
                    }
                }
            }

            .tabs-tabInner {
                font-size: rem-calc(14);
                padding: rem-calc(6) rem-calc(18) rem-calc(0) rem-calc(15) ;
                border: 1px solid transparent;
                height: 41px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                &.is-active {
                    background-color: get-fis-colors(grayscale-2, base);
                    border: 1px solid get-fis-colors(grayscale-3, base);
                    border-bottom: none;
                    position: relative;
                    height: 42px;
                    top: 1px;
                    padding: rem-calc(5) rem-calc(15) rem-calc(0) rem-calc(15) ;
                }
            }
        }

    }
    .userarea {
        flex: 0 0 260px;
        min-width: 260px;
        .icon-list {
            li {
                flex: 1 0 auto;
            }
        }
    }
    .user-icon {
        width: 25px;
        height: 25px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid get-fis-colors(grayscale-3, base);
        position: relative;
        top: 2px;
        display: inline-block;

        img {
            max-width: 100%;
            height: auto;
        }
        + .fis-icon-arrow-down {
            margin-top: -2px;
        }
    }
}