<div id="fis-client-pattern" class="fis-app-pattern"></div>
<script type="text/javascript">
    (function() {
        FisPatterns.ReactDOM.render(
                FisPatterns.React.createElement(FisPatterns.FisClientPattern, {}),
                document.getElementById("fis-client-pattern")
        );
    })();
</script>
