<div class="fis-app-pattern" id="fis-login-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisLoginPattern, {}),
      document.getElementById("fis-login-pattern")
    );
  })();
</script>
