<div id="fis-S8020-pattern" class="fis-app-pattern"></div>
<script type="text/javascript">
    (function() {
        FisPatterns.ReactDOM.render(
                FisPatterns.React.createElement(FisPatterns.S8020, {}),
                document.getElementById("fis-S8020-pattern")
        );
    })();
</script>