<div id="fis-T9500cleaned2-pattern" class="fis-app-pattern"></div>
<script type="text/javascript">
    (function() {
        FisPatterns.ReactDOM.render(
                FisPatterns.React.createElement(FisPatterns.T9500Cleaned2, {}),
                document.getElementById("fis-T9500cleaned2-pattern")
        );
    })();
</script>