<div id="fis-T9500cleaned-pattern" class="fis-app-pattern"></div>
<script type="text/javascript">
    (function() {
        FisPatterns.ReactDOM.render(
                FisPatterns.React.createElement(FisPatterns.T9500Cleaned, {}),
                document.getElementById("fis-T9500cleaned-pattern")
        );
    })();
</script>