// react-data-grid uses Stylus-CSS to build there CSS so we have to work around:
// import the 'index-no-normalize.css' into http://sebastianpontow.de/css2compass/
// reset the vars with FIS variables and 'normalize' the output / reduce color and rename them
// delete used stuff: html.u-app, etc.

//colors
$white_50: rgba(255,255,255,0.5);


$data-grid-alt1: get-fis-colors(addon-1, base);
$data-grid-alt2: get-fis-colors(addon-2, base);
$data-grid-alt3: get-fis-colors(addon-3, base);
$data-grid-alt5: get-fis-colors(addon-5, base);

$data-grid-grey1: get-fis-colors(grayscale-1, base);
$data-grid-grey2: get-fis-colors(grayscale-2, base);
$data-grid-grey3: get-fis-colors(grayscale-3, base);
$data-grid-grey4: get-fis-colors(grayscale-4, base);


.fis-datagrid {
    height: 300px;
    position: relative;
    overflow-x: auto;
    width: 100%;
    .sidepanel {
        width: rem-calc(16px);
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid $white;
        background-color: $data-grid-grey1;
        z-index: $dropdown-zindex;
        .btn-icon {
            position: absolute;
            padding: rem-calc(1px) 0;
            .fis-icon {
                width: 1rem;
                background-position: -3px center;

            }
            &:first-child {
                top: 60px;
            }
            &:last-child {
                bottom: 2px;
            }
        }
    }


    .ag-grid-ng2 {
        display: inline-block;
    }
    .ag-root {
        font-size: rem-calc(14px);
        cursor: default;
        position: relative;
        //Instead of the line below you could use @include user-select($select)
        user-select: none;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        overflow: hidden;
        margin-right: rem-calc(16px);
    }
    .ag-no-scrolls {
        white-space: nowrap;
        display: inline-block;
        .ag-header-container {
            white-space: nowrap;
            background: $data-grid-grey1;
            border-bottom: 1px solid $data-grid-grey4;
        }
    }
    .ag-scrolls {
        height: 100%;
        .ag-header-container {
            //Instead of the line below you could use @include box-sizing($bs)
            box-sizing: border-box;
            position: relative;
            white-space: nowrap;
            height: 100%;
        }
        .ag-body-container {
            position: relative;
            display: inline-block;
        }
        .ag-row {
            white-space: nowrap;
            position: absolute;
            width: 100%;
            border-bottom: 1px solid $data-grid-grey3;
        }

    }
    .ag-popup-backdrop {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .ag-header {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        background: $data-grid-grey1;
        border-bottom: 1px solid $data-grid-grey4;
    }
    .ag-pinned-left-header {
        float: left;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        height: 100%;
    }
    .ag-pinned-right-header {
        float: right;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        height: 100%;
        border-left: 1px solid $data-grid-grey4;
    }
    .ag-header-viewport {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        overflow: hidden;
        height: 100%;
    }

    .ag-header-cell {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        vertical-align: bottom;
        text-align: left;
        display: inline-block;
        height: 100%;
        border-right: 1px solid $white;
    }
    .ag-header-group-cell {
        display: inline-block;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
        border-right: 1px solid $white;
        font-size: $small-font-size;
    }
    .ag-header-group-cell-label {
        display: table-cell;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 4px;
        padding-left: 10px;
        font-size: $small-font-size;
    }
    .ag-header-cell-label {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 100%;
        white-space: nowrap;
        padding: 3px 6px !important;
        font-size: $small-font-size;
    }
    .ag-header-cell-resize {
        height: 100%;
        width: 4px;
        float: right;
        cursor: col-resize;
    }
    .ag-header-expand-icon {
        padding-left: 4px;
    }
    .ag-header-cell-menu-button {
        float: right;
        padding: 2px;
        margin-top: 4px;
        border: 1px solid transparent;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: content-box;
        line-height: 0;
        &:hover {
            border: 1px solid $black;
        }
    }
    .ag-overlay-panel {
        display: table;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    .ag-overlay-wrapper {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .ag-body {
        height: 100%;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        background-color: $data-grid-grey2;
    }
    .ag-floating-top {
        position: absolute;
        left: 0;
        width: 100%;
        white-space: nowrap;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        overflow: hidden;
        .ag-row {
            background-color: $data-grid-grey1;
        }
    }
    .ag-pinned-left-floating-top {
        float: left;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        height: 100%;
    }
    .ag-pinned-right-floating-top {
        float: right;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        height: 100%;
    }
    .ag-floating-top-viewport {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        overflow: hidden;
        height: 100%;
    }
    .ag-floating-top-container {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        position: relative;
        white-space: nowrap;
    }
    .ag-floating-bottom {
        position: absolute;
        left: 0;
        width: 100%;
        white-space: nowrap;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        overflow: hidden;
        .ag-row {
            background-color: $data-grid-grey1;
        }
    }
    .ag-pinned-left-floating-bottom {
        float: left;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        height: 100%;
    }
    .ag-pinned-right-floating-bottom {
        float: right;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        height: 100%;
    }
    .ag-floating-bottom-viewport {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        overflow: hidden;
        height: 100%;
    }
    .ag-floating-bottom-container {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        position: relative;
        white-space: nowrap;
    }
    .ag-pinned-left-cols-viewport {
        float: left;
        overflow: hidden;
    }
    .ag-pinned-left-cols-container {
        display: inline-block;
        position: relative;
    }
    .ag-pinned-right-cols-viewport {
        float: right;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .ag-pinned-right-cols-container {
        display: inline-block;
        position: relative;
    }
    .ag-body-viewport-wrapper {
        height: 100%;
    }
    .ag-body-viewport {
        overflow-x: auto;
        overflow-y: auto;
        height: 100%;
    }
    .ag-cell {
        display: inline-block;
        white-space: nowrap;
        height: 100%;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
        float: left;
        padding: 0 6px;
        line-height: 26px;
    }
    .ag-group-cell-entire-row {
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        height: 100%;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: $data-grid-grey4;
        padding: 4px;
    }
    .ag-footer-cell-entire-row {
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        height: 100%;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: $data-grid-grey4;
        padding: 4px;
    }
    .ag-filter {
        position: absolute;
        z-index: 100;
        border: 1px solid $black;
        background-color: $data-grid-grey1;
    }
    .ag-filter-list-viewport {
        overflow-x: auto;
        height: 200px;
        width: 200px;
    }
    .ag-filter-list-container {
        position: relative;
        overflow: hidden;
    }
    .ag-filter-item {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
    }
    .ag-filter-filter {
        width: 170px;
        margin: 4px;
    }
    .ag-filter-select {
        width: 110px;
        margin: 4px 4px 0 4px;
    }
    .ag-no-vertical-scroll {
        .ag-scrolls {
            height: unset;
        }
        .ag-body {
            height: unset;
        }
        .ag-body-viewport-wrapper {
            height: unset;
        }
        .ag-body-viewport {
            height: unset;
        }
    }
    .ag-list-selection {
        //Instead of the line below you could use @include user-select($select)
        user-select: none;
        cursor: default;
        background-color: $white;
        border: 1px solid $data-grid-grey3;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
    }
    .ag-tool-panel-container {
        //Instead of the line below you could use @include user-select($select)
        user-select: none;
        cursor: default;
        width: 200px;
        background-color: $data-grid-grey1;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        border: 1px solid $data-grid-grey3;
        padding: 4px;
    }

    .ag-cell-no-focus {
        border-right: 1px solid $data-grid-grey3;
        border-top: 0;
        border-left: 0;
        border-bottom: 0;
    }
    .ag-cell-first-right-pinned {
        border-left: 1px solid $data-grid-grey3;
    }
    .ag-header-group-cell-with-group {
        font-weight: 700;
        border-bottom: 1px solid $white;
    }
    .ag-header-icon {
        color: $data-grid-alt5;
    }
    .ag-row-selected {
        border-bottom: 1px solid $data-grid-alt2 !important;
        border-top: 1px solid $data-grid-alt2;
        margin-top: -1px;
        + {
            .ag-row-selected {
                border-top: 1px solid transparent;
            }
        }
        .ag-cell {
            background-color: rgba($data-grid-alt1, 0.5);
        }
        .ag-cell-focus {
            border: 1px solid $secondary-color;
            background-color: $white;
            outline: none;
            box-shadow: $input-shadow-focus;
        }
    }
    .ag-overlay-loading-wrapper {
        background-color: $white_50;
    }
    .ag-overlay-loading-center {
        background-color: $white;
        border: 1px solid $data-grid-grey3;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 10px;
        padding: 10px;
    }
    .ag-overlay-no-rows-center {
        background-color: $white;
        border: 1px solid $data-grid-grey3;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 10px;
        padding: 10px;
    }
    .ag-group-cell {

    }
    .ag-group-expand {
        padding-right: 2px;
    }
    .ag-footer-cell {

    }
    .ag-filter-checkbox {
        position: relative;
        top: 2px;
        left: 2px;
    }
    .ag-filter-header-container {
        border-bottom: 1px solid $data-grid-grey2;
    }
    .ag-filter-apply-panel {
        border-top: 1px solid $data-grid-grey2;
        padding: 2px;
    }
    .ag-filter-value {
        margin-left: 4px;
    }
    .ag-selection-checkbox {
        margin-left: 4px;
    }
    .ag-paging-panel {
        padding: 4px;
    }
    .ag-paging-button {
        margin-left: 4px;
        margin-right: 4px;
    }
    .ag-paging-row-summary-panel {
        display: inline-block;
        width: 300px;
    }
    .ag-column-not-visible {
        opacity: 0.75;
        filter: alpha(opacity=75);
    }
    .ag-not-dragging {
        border: 1px solid transparent;
    }
    .ag-drop-target-above {
        border-top: 5px solid $data-grid-grey3;
    }
    .ag-drop-target-below {
        border-bottom: 5px solid $data-grid-grey3;
    }
    .ag-dragging {
        border: 1px dotted $data-grid-grey3;
    }
    .ag-list-item-selected {
        color: $data-grid-grey1;
    }
    .ag-list-item-not-selected {

        color: $data-grid-grey4;
    }
    .ag-visible-icons {
        padding-left: 2px;
        padding-right: 2px;
    }
    .agile-gird-row:hover {
        background-color: $data-grid-alt1;
    }
    .ag-large .ag-root {

    }
    .ag-popup-list .ag-list-item:hover {
        background-color: $data-grid-alt1;
    }

}