<div class="demo-container" id="fis-clientheader-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisClientHeaderPattern, {}),
      document.getElementById("fis-clientheader-pattern")
    );
  })();
</script>
