<div class="demo-container" id="fis-panel-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisPanelPattern, {}),
      document.getElementById("fis-panel-pattern")
    );
  })();
</script>
