.fis-icon {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: text-top;
    &.size-s {
        background-size: 75%;
    }
    &.size-l {

    }
    &.size-xl {

    }
    &.fis-icon-asterisk{
          margin-left: rem-calc(3px);
    }

}