<div class="demo-container" id="fis-grid-pattern"></div>
<script type="text/javascript">
    (function() {
        FisPatterns.ReactDOM.render(
                FisPatterns.React.createElement(FisPatterns.FisGridPattern, {}),
                document.getElementById("fis-grid-pattern")
        );
    })();
</script>