<div class="demo-container" id="fis-palette-pattern"></div>
<script type="text/javascript">
    (function() {
        FisPatterns.ReactDOM.render(
                FisPatterns.React.createElement(FisPatterns.FisPalettePattern, {}),
                document.getElementById("fis-palette-pattern")
        );
    })();
</script>