
// make classes out of $fis-colors Map
@each $key, $map in $fis-colors {
    @each $type, $value in $map {
        .fis-bg-#{$key}__#{$type} {
            background-color: $value;
        }
        .fis-color-#{$key}__#{$type} {
            color: $value;
        }
    }
}


// some helper classes
.primary {
    color: $primary-color;
}
.secondary {
    color: $secondary-color;
}
// disabled links, etc. IMPORTANT: its JUST stlying, NOT function
a {
    &.disabled {
        @include button-disabled;
        color: get-fis-colors(grayscale-3, base);
    }
}

.text-color-mid {
    color: get-fis-colors(grayscale-4, base);
}
.text-color-light {
    color: get-fis-colors(grayscale-3, base);
}

.mono {
    font-family: $font-family-monospace;
}

.show-for-sr,
.show-on-focus {
    @include element-invisible;
}


.label {
    @include label;

    background: $label-background;
    color: $label-color;

}

.fis-tooltip {
    dl {
        display: flex;
        max-width: 300px;
        flex-wrap: wrap;
        dt {
            flex: 0 0 100px;
            font-weight: 600;
        }
        dd {
            flex: 0 0 200px;
            min-width: 100px;
            word-break: break-all;
        }
    }
}