
// Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source


// FIS colors
$fis-colors: (
    primary:(
        base:       #E75200,
        highlight:  #DB4D00
    ),
    secondary:(
        base:       #42639C,
        highlight:  #4B6389
    ),
    tertiary:(
        base:       #101562
    ),
    addon-1:(
        base:       #E4EDFD
    ),
    addon-2:(
        base:       #B4CFFF
    ),
    addon-3:(
        base:       #4B6389
    ),
    addon-4:(
        base:       #FDEFEF
    ),
    addon-5:(
        base:       #D10000
    ),
    grayscale-1:(
        base:       #F7F7F7
    ),
    grayscale-2:(
        base:       #E5E5E5
    ),
    grayscale-3:(
        base:       #CCC
    ),
    grayscale-4:(
        base:       #999
    ),
    grayscale-5:(
        base:       #333
    ),
    grayscale-6:(
        base:       #9B9B9B
    ),
    ecellent: (
        base:       #00B200,
        grey-style: #BFC0C0
    ),
    very-good: (
        base:       #7FFE00,
        grey-style: #B3B2B2
    ),
    good: (
        base:       #B5FF00,
        grey-style: #A6A6A6
    ),
    average: (
        base:       #FF9,
        grey-style: #999
    ),
    below-average: (
        base:       #FFB500,
        grey-style: #8C8C8C
    ),
    bad: (
        base:       #FE7F00,
        grey-style: #7F8080
    ),
    very-bad: (
        base:       #F00,
        grey-style: #737373
    ),
    remark-1: (
        base:       #9CF,
        grey-style: #858484
    ),
    remark-2: (
        base:       #F6F6F6,
        grey-style: #F6F6F6
    ),
    not-relevant: (
        base:       #C6C6C6,
        grey-style: #C6C6C6
    )
);


