$fis-icons: (
    {{#shapes}}
{{base}}: (width: {{width.inner}}px, height: {{height.inner}}px, backgroundX: {{position.absolute.x}}px, backgroundY: {{position.absolute.y}}px),
{{/shapes}});

// make classes out of $fis-icons Map
@each $key, $map in $fis-icons {
    .fis-icon-#{$key} {
        width: rem-calc(map-get($map, width));
        height: rem-calc(map-get($map, height));
        background-image: url("../assets/svg/raw/#{$key}.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
