$fis-grid-colSpans:(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60);

.fis-grid-column {
    $padding: rem-calc(map_get($grid-column-responsive-gutter, medium) / 2) ;
    padding-left: $padding;
    padding-right: $padding;
    float: left;
    flex-grow: 1;
    position: relative;
    //box-sizing: content-box;
    &:last-child:not(:first-child) {
        float: right;
    }
    > div:not(.fis-row) {
        flex-grow: 1;
    }
}
// make classes out of $fis-colors Map
@each $key, $val in $fis-grid-colSpans {
    .fis-grid-colSpans-#{$key} {
        $width: ($key * 14) + ($key  * map_get($grid-column-responsive-gutter, medium));
        max-width: $width;
        flex: 1 0 $width;
    }
}
.fis-grid-colSpans-100 {
    max-width: 100%;
    flex: 1 0 100%;
}

.flex-box {
    display: flex;
    flex-flow: row wrap;
}
.flex-child {
    flex-grow: 0;
}