.button-group {
    flex-basis: content;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    & + .button-group &:not(.panel-buttons){
        margin-left: 1rem;
    }
    .fis-section-content & {
        margin-top: 17px;
        .button:first-child {
            margin-left: 0;
        }
    }
    .button {
        margin-left: rem-calc(10px);
        border-right-color: inherit;


    }


}