.fis-login {
    flex: 1 1 auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        margin-top: 80px;
        background-color: $white;
        padding: 10px;
        flex: 0 0 400px;
        align-self: flex-end;
    }
    .button-group {
        margin-top: 20px;
        float: right;
    }
}

