<div class="demo-container" id="fis-button-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisButtonPattern, {}),
      document.getElementById("fis-button-pattern")
    );
  })();
</script>
