<div class="demo-container" id="fis-container-row-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisContainerRowPattern, {}),
      document.getElementById("fis-container-row-pattern")
    );
  })();
</script>
