<div class="demo-container" id="fis-icon-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisIconPattern, {}),
      document.getElementById("fis-icon-pattern")
    );
  })();
</script>
