<div class="demo-container" id="fis-input-base-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisInputBasePattern, {}),
      document.getElementById("fis-input-base-pattern")
    );
  })();
</script>
