<div class="demo-container" id="fis-text-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisTextPattern, {}),
      document.getElementById("fis-text-pattern")
    );
  })();
</script>
